body{
  background-color: rgb(34, 40, 49);
  color: #eee
}

main{
  padding-top: 50px; /* Cette ligne ajoute un espacement de 50 pixels en haut de l'élément */
  max-width: 340px ; /* Cette ligne limite la largeur maximale de l'élément à 300 pixels. */
  margin: 0 auto; /* Cette ligne centre l'élément par rapport à la page, Cette ligne définit la marge de l'élément. Le 0 signifie qu'il n'y a pas de marge en haut, en bas, à gauche et à droite. Le auto signifie que l'élément sera centré horizontalement sur la page. */
  text-align: center;
}